prune .github
prune changelog
prune docs
prune tests

exclude requirements/tephpy.yml
exclude src/tephpy/_version.py
exclude src/tephpy/examples/GALLERY_HEADER.rst

global-exclude AGENTS.md CLAUDE.md

exclude .gitignore
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude CHANGELOG.rst
exclude CITATION.cff
exclude CODE_OF_CONDUCT.md
exclude codecov.yml
exclude CONTRIBUTING.md
exclude pixi.lock
exclude SECURITY.md

include .git_archival.txt
